<div>
  <h2 id="page-heading" data-cy="AdvertisementHeading">
    <span jhiTranslate="pictureFrameApp.advertisement.home.title">Advertisements</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="pictureFrameApp.advertisement.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-advertisement"
        [routerLink]="['/advertisement/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="pictureFrameApp.advertisement.home.createLabel">Create a new Advertisement</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (advertisements?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="pictureFrameApp.advertisement.home.notFound">No Advertisements found</span>
    </div>
  }

  @if (advertisements && advertisements.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="brand">
              <div class="d-flex">
                <span jhiTranslate="pictureFrameApp.advertisement.brand">Brand</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="imagePath">
              <div class="d-flex">
                <span jhiTranslate="pictureFrameApp.advertisement.imagePath">Image Path</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="redirectUrl">
              <div class="d-flex">
                <span jhiTranslate="pictureFrameApp.advertisement.redirectUrl">Redirect Url</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="active">
              <div class="d-flex">
                <span jhiTranslate="pictureFrameApp.advertisement.active">Active</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdAt">
              <div class="d-flex">
                <span jhiTranslate="pictureFrameApp.advertisement.createdAt">Created At</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="updatedAt">
              <div class="d-flex">
                <span jhiTranslate="pictureFrameApp.advertisement.updatedAt">Updated At</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (advertisement of advertisements; track trackId(advertisement)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/advertisement', advertisement.id, 'view']">{{ advertisement.id }}</a>
              </td>
              <td>{{ advertisement.brand }}</td>
              <td>{{ advertisement.imagePath }}</td>
              <td>{{ advertisement.redirectUrl }}</td>
              <td>{{ advertisement.active }}</td>
              <td>{{ advertisement.createdAt | formatMediumDatetime }}</td>
              <td>{{ advertisement.updatedAt | formatMediumDatetime }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/advertisement', advertisement.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/advertisement', advertisement.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(advertisement)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (advertisements && advertisements.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
