<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-transaction-heading"
        data-cy="TransactionCreateUpdateHeading"
        jhiTranslate="pictureFrameApp.transaction.home.createOrEditLabel"
      >
        Create or edit a Transaction
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="pictureFrameApp.transaction.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_usedAt" jhiTranslate="pictureFrameApp.transaction.usedAt">Used At</label>
          <div class="d-flex">
            <input
              id="field_usedAt"
              data-cy="usedAt"
              type="datetime-local"
              class="form-control"
              name="usedAt"
              formControlName="usedAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_frame" jhiTranslate="pictureFrameApp.transaction.frame">Frame</label>
          <select class="form-control" id="field_frame" data-cy="frame" name="frame" formControlName="frame" [compareWith]="compareFrame">
            <option [ngValue]="null"></option>
            @for (frameOption of framesSharedCollection; track $index) {
              <option [ngValue]="frameOption">{{ frameOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_user" jhiTranslate="pictureFrameApp.transaction.user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user" [compareWith]="compareUser">
            <option [ngValue]="null"></option>
            @for (userOption of usersSharedCollection; track $index) {
              <option [ngValue]="userOption">{{ userOption.login }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
