<div>
  <h2 id="page-heading" data-cy="FrameHeading">
    <span jhiTranslate="pictureFrameApp.frame.home.title">Frames</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="pictureFrameApp.frame.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-frame"
        [routerLink]="['/frame/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="pictureFrameApp.frame.home.createLabel">Create a new Frame</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (frames?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="pictureFrameApp.frame.home.notFound">No Frames found</span>
    </div>
  }

  @if (frames && frames.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="title">
              <div class="d-flex">
                <span jhiTranslate="pictureFrameApp.frame.title">Title</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="type">
              <div class="d-flex">
                <span jhiTranslate="pictureFrameApp.frame.type">Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="description">
              <div class="d-flex">
                <span jhiTranslate="pictureFrameApp.frame.description">Description</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="guidelineUrl">
              <div class="d-flex">
                <span jhiTranslate="pictureFrameApp.frame.guidelineUrl">Guideline Url</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="imagePath">
              <div class="d-flex">
                <span jhiTranslate="pictureFrameApp.frame.imagePath">Image Path</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="usageCount">
              <div class="d-flex">
                <span jhiTranslate="pictureFrameApp.frame.usageCount">Usage Count</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdAt">
              <div class="d-flex">
                <span jhiTranslate="pictureFrameApp.frame.createdAt">Created At</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="updatedAt">
              <div class="d-flex">
                <span jhiTranslate="pictureFrameApp.frame.updatedAt">Updated At</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="creator.login">
              <div class="d-flex">
                <span jhiTranslate="pictureFrameApp.frame.creator">Creator</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (frame of frames; track trackId(frame)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/frame', frame.id, 'view']">{{ frame.id }}</a>
              </td>
              <td>{{ frame.title }}</td>
              <td [jhiTranslate]="'pictureFrameApp.FrameType.' + (frame.type ?? 'null')">
                {{ { null: '', PRIVATE: 'PRIVATE', PUBLIC: 'PUBLIC', RESTRICTED: 'RESTRICTED' }[frame.type ?? 'null'] }}
              </td>
              <td>{{ frame.description }}</td>
              <td>{{ frame.guidelineUrl }}</td>
              <td>{{ frame.imagePath }}</td>
              <td>{{ frame.usageCount }}</td>
              <td>{{ frame.createdAt | formatMediumDatetime }}</td>
              <td>{{ frame.updatedAt | formatMediumDatetime }}</td>
              <td>
                {{ frame.creator?.login }}
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/frame', frame.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/frame', frame.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(frame)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (frames && frames.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
