@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
.navbar {
  background-color: transparent;
  transition: background-color 0.3s ease;
  padding: 2rem 1.5rem; /* Increased navbar height */

  &.scrolled {
    background-color: #fffcf5e6;
  }

  a.nav-link {
    font-weight: 500;
    color: #333;
    &:hover {
      color: #ff7043; /* Customize hover color */
    }
  }

  .profile-image {
    height: 2em;
    width: 2em;
    border: 2px solid #ff7043;
  }
}

.logo-img {
  height: 50px;
  width: 200px;
  display: inline-block;
  vertical-align: middle;
  background: url('/content/images/logo-kh-test.jpg') no-repeat center center;
  background-size: contain;
}
