<!-- Main Banner Section -->
<div class="bg-holder" id="main-banner" style="margin-top: 80px">
  <!-- Hero Banner -->
  <div class="container">
    <div class="row">
      <!-- First Column -->
      <div class="col-md-6">
        <div class="row">
          <!-- Part 1 -->
          <div class="col-md-12 mb-3">
            <h4 class="custom-heading">Nơi khung hình được chia sẻ</h4>
            <h1 class="hero-title text-color-dark mb-5">
              Tạo <span class="frame-keyword">khung hình</span> và lan tỏa chiến dịch, sự kiện, hoạt động
            </h1>
          </div>
          <!-- Part 3 -->
          <div class="col-md-12 mb-3">
            <p style="font-size: 16px; color: #333">
              Cung cấp các công cụ hình ảnh để tạo khung hình và chia sẻ thông điệp về chiến dịch, sự kiện, hoạt động... đến mọi người.
            </p>
          </div>
          <!-- Part 4 -->
          <div class="col-md-12 mb-3">
            <button class="btn-primary">Tạo ngay</button>
            <button class="btn-secondary">Xu hướng</button>
          </div>
        </div>
      </div>
      <!-- Second Column -->
      <div class="col-md-6">
        <img src="/content/images/banner-div.png" alt="Your Image" style="width: 100%; height: auto; border-radius: 10px" />
      </div>
    </div>
  </div>
</div>

<!-- Convenient Tools Section -->
<section id="category" class="pt-0">
  <div class="container">
    <div class="mb-5">
      <!-- Section Header -->
      <h4 class="module-type">Danh mục</h4>
      <h3 class="module-title mb-3">Các công cụ tiện lợi</h3>
      <p class="module-description">Danh sách các công cụ xử lý hình ảnh tiện lợi và hoàn toàn miễn phí!</p>
    </div>

    <!-- Tools Card Grid -->
    <div class="row">
      <!-- Card 1 -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card category-card">
          <a href="#" class="card-body d-flex flex-column" style="text-decoration: none">
            <img class="category-img mb-3" src="https://khunghinh.net/img/tool/homepage/create_fr.svg" width="75" alt="Tạo khung hình" />
            <p class="category-number font-caveat-brush">01/</p>
            <h4 class="mt-1 mb-0">Tạo khung hình</h4>
            <p class="mt-2 mb-0 fw-medium category-description">
              <strong>Tạo và chia sẻ khung hình</strong> sự kiện, chiến dịch, hoạt động, lễ hội,... đến mọi người.
            </p>
          </a>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card category-card">
          <a href="#" class="card-body d-flex flex-column" style="text-decoration: none">
            <img class="category-img mb-3" src="https://khunghinh.net/img/tool/homepage/remove_bg.svg" width="75" alt="Xóa nền" />
            <p class="category-number font-caveat-brush">02/</p>
            <h4>Xóa nền</h4>
            <p class="mt-2 mb-0 fw-medium category-description">
              <strong>Xóa nền hình ảnh</strong> nhanh chóng với độ chính xác cao. Phát hiện các đối tượng chính xác và
              <strong>loại bỏ nền hình ảnh</strong> một cách dễ dàng.
            </p>
          </a>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card category-card">
          <a href="#" class="card-body d-flex flex-column" style="text-decoration: none">
            <img class="category-img mb-3" src="https://khunghinh.net/img/tool/homepage/compress_img.svg" width="75" alt="Nén hình ảnh" />
            <p class="category-number font-caveat-brush">03/</p>
            <h4>Nén hình ảnh</h4>
            <p class="mt-2 mb-0 fw-medium category-description">
              <strong>Nén hình PNG</strong> giúp tiết kiệm dung lượng mà vẫn giữ chất lượng.
            </p>
          </a>
        </div>
      </div>

      <!-- Card 4 -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card category-card">
          <a href="#" class="card-body d-flex flex-column" style="text-decoration: none">
            <img
              class="category-img mb-3"
              src="https://khunghinh.net/img/tool/homepage/transparent.svg"
              width="75"
              alt="Tạo vùng trong suốt"
            />
            <p class="category-number font-caveat-brush">04/</p>
            <h4>Tạo vùng trong suốt</h4>
            <p class="mt-2 mb-0 fw-medium category-description"><strong>Tạo vùng trong suốt</strong> cho hình ảnh của bạn</p>
          </a>
        </div>
      </div>

      <!-- Card 5 -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card category-card">
          <a href="#" class="card-body d-flex flex-column" style="text-decoration: none">
            <img
              class="category-img mb-3"
              src="https://khunghinh.net/img/tool/homepage/resize_img.svg"
              width="75"
              alt="Thay đổi kích thước"
            />
            <p class="category-number font-caveat-brush">05/</p>
            <h4>Thay đổi kích thước</h4>
            <p class="mt-2 mb-0 fw-medium category-description">Thay đổi <strong>kích thước hình ảnh</strong></p>
          </a>
        </div>
      </div>

      <!-- Card 6 -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card category-card">
          <a href="#" class="card-body d-flex flex-column" style="text-decoration: none">
            <img
              class="category-img mb-3"
              src="https://khunghinh.net/img/tool/homepage/profile_maker.svg"
              width="75"
              alt="Tạo hình đại diện"
            />
            <p class="category-number font-caveat-brush">06/</p>
            <h4>Tạo hình đại diện</h4>
            <p class="mt-2 mb-0 fw-medium category-description">
              Đăng tải hình chân dung và tạo ra nhiều hình đại diện thú vị với nhiều kiểu khung khác nhau
            </p>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Sample Design Section -->
<section class="template-frame pt-0 pb-06"></section>

<!-- Partner Logos Section -->
<section id="brand" class="bg-dark text-light py-6 py-md-7"></section>

<!-- Trending Frames Section -->
<section id="trending-frame" class="trending-frames-section"></section>

<!-- Footer Section -->
<section></section>
