<div class="row flex-ali-it-cen mb-5" data-selected="true" data-label-id="0" data-metatip="true">
  <div class="col-md-6 tool-title">
    <img src="https://khunghinh.net/img/tool/zframe-designer-working-happily.png" atl="zFrame Tool" />
    <h1 class="title text-center py-2">Nén hình ảnh</h1>
  </div>
  <div class="col-md-6 tool-form">
    <div class="tool-area py-6">
      <input type="file" id="upload_photo" accept="image/png" />
      <div class="btn-group-center">
        <button class="btn btn-primary rounded-pill ms-1 btn-upload-image" onclick="OnChoosePhoto()">Chọn hình</button>
      </div>
      <span class="waiting-text text-center d-block pt-3">Hỗ trợ định dạng hình PNG</span>
    </div>
  </div>
</div>
